#heading {
    font-family: 'Rye', cursive;
    padding: 50px;
    background-color: white;
    border: 5px solid black;
    border-top-left-radius: 30px;
    margin: 20px;
    margin-right: 0px;
    border-right: white;
}
#back{
    background-color: rgb(22, 21, 21);
    border-bottom-left-radius: 30px;
}
#main{
    
   
    margin-left: 20px;
    
}
#nick-enter{
    margin-right: -100px;
}
#password{
    margin-left: -250px;
    margin-right: -100px;
    
}
#submit{
 
    background-color: black;
    color: white;
    border: 3px solid white;
    
}
#footer{
    background-color: rgb(75, 73, 73);
    color: black;
    margin-top: 220px;
    font-family: jumbotron;
}

#ChattingPlace{
    background-color: white;
   
}
#chatheading{
    text-align: center;
    border-bottom: 2px solid black;
    font-family: 'Rye', cursive;
}
#sex{
    width: 80px;
    margin-left: -90px;
    
}

div.scroll {
     width: 730px;
    height: 900x;
    overflow: auto;
    height: 300px;
  }
  #mes{
      margin-right: -30px;
      color: black;
      font-weight: 500;
  }
  #send{
      margin-top: 10px;
      background-color: black;
      color: white;
  }

#time{
    font-size: 10px;
}
#heslo{
    margin-top: 100px;
    margin-left: 200px;
}
#code{
    margin-top: 80px;
    height: 100px;
}